[Unit]
Description=Home Monitor Local Agent (gRPC)
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/homemonitor
ExecStart=/opt/homemonitor/agent_bin
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target